:root {
  font-size: 10px;
}

/* :root 의사 클래스는 문서 트리의 루트 요소를 선택
--> HTML 의 루트 요소는 <html> 요소 이므로 :root 의 명시도가 더 높다.
*/

html {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 32px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* inhreit : 부모로부터 상속받는다. 
Q: a 태그는 어디서 나온 것인가....ㅅㅂ
*/

h2 {
  font-size: 2rem;
}

ul {
  font-size: 20px;
}

li {
  font-size: 0.7rem;
}

/* rem : root (최상위 요소)를 기준으로 배율지정. */
